.nested-fields
  = link_to_remove_association f, class: 'btn btn-default pull-right' do
    .glyphicon.glyphicon-remove{"aria-hidden" => "true"}
  %br
  = f.input :id, as: :hidden
  = f.input :keyword, collection: KEYWORDS
  = f.input :locator
  = f.input :value
