%li.nested-fields.well{class: "#{f.object.status.to_s.downcase}Div"}
  = link_to_remove_association f, class: 'btn btn-default pull-right' do
    .glyphicon.glyphicon-remove{"aria-hidden" => "true"}

  = link_to '#', class: 'btn btn-default pull-right edit_event' do
    .glyphicon.glyphicon-edit{"aria-hidden" => "true"}

  - if !f.object.status.blank?
    = link_to '#', class: 'btn btn-default pull-right open', id: "#{f.object.order_number.to_i - 1}" do
      .glyphicon.glyphicon-screenshot{"aria-hidden" => "true"}
  .fields_div
    %br
    = f.input :id, as: :hidden
    = f.input :order_number, as: :hidden
    = f.input :trigger, collection: Event.triggers
    = f.input :url, wrapper_html: { class: 'value_fields url' }, input_html: {class: 'col-xs-3'}
    = f.input :locator, wrapper_html: { class: 'value_fields locator' }
    = f.input :text, wrapper_html: { class: 'value_fields text' }
    %br
    %br
  - unless f.object.status.blank?
    %p
      %b
        %i= f.object.message.try(:humanize)
