.page-header
  %h1 Editing TestCase

= simple_form_for @test_case, html: { class: 'form-inline edit_form' } do |f|
  = f.input :name
  %br
  %br
  %br
  %ul#events
    = f.simple_fields_for :events do |event|
      = render 'event_fields', f: event
    %br
    .links
      = link_to_add_association f, :events, class: 'btn btn-default pull-right' do
        .glyphicon.glyphicon-plus{"aria-hidden" => "true"}
          %span.glyphicon-class Add Event
  %br
  = f.submit 'Submit', class: 'btn btn-success'
  = link_to 'Back', test_cases_path, class: 'btn btn-default'
  = link_to 'Recalculate', test_cases_path, class: 'btn btn-default'
:javascript
  keyword_list = #{@keyword_list.to_json}
