%h1 Listing TestCases

%table.table
  %tr
    %th Name
    %th Status
    %th Message
    %th
    %th
    %th

  - @test_cases.each do |test_case|
    %tr
      %td= test_case.name
      %td= test_case.status
      %td= test_case.message
      %td= link_to 'Show', test_case, class: 'btn btn-default'
      %td= link_to 'Edit', edit_test_case_path(test_case), class: 'btn btn-default'
      %td= link_to 'Destroy', test_case, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Test case', new_test_case_path, class: 'btn btn-default'
